OPENAI_END_POINT=https://api.openai.com/v1/completions
OPENAI_KEY=<YOUR OPEAI API KEY>
OPENAI_MODEL=text-davinci-003
OPENAI_MAX_TOKENS=1024
OPENAI_TEMPERATURE=0
DEFAULT_USER_PROMPT=You > 
DEFAULT_RESPONSE_PROMT=ChatGPT > 